{
    "租":{ 
        "domain": "https://rent.591.com.tw/",
        "uri": "index.php?",
        "params": [
            {
                "_comment": "台北市/南港區+中山區+信義區+內湖區+松山區/整層住家/電梯大樓",
                "module": "search",
                "action": "rslist",
                "is_new_list": "1",
                "type": "1",
                "searchtype": "1",
                "region": "1",
                "listview": "img",
                "section": "3,4,7,10,11",
                "kind": "1",
                "rentprice": ",30000",
                "area": "17,",
                "shape": "2"
            },
            {
                "_comment": "台北市/南港區+中山區+信義區+內湖區+松山區/整層住家/公寓",
                "module": "search",
                "action": "rslist",
                "is_new_list": "1",
                "type": "1",
                "searchtype": "1",
                "region": "1",
                "listview": "img",
                "section": "3,4,7,10,11",
                "kind": "1",
                "rentprice": ",30000",
                "area": "17,",
                "shape": "1",
                "floor": ",3"
            },
            {
                "_comment": "台北市/大安區+士林區+中正區+大同區/整層住家/電梯大樓",
                "module": "search",
                "action": "rslist",
                "is_new_list": "1",
                "type": "1",
                "searchtype": "1",
                "region": "1",
                "listview": "img",
                "section": "1,2,5,8",
                "kind": "1",
                "rentprice": ",30000",
                "area": "17,",
                "shape": "2"
            },
            {
                "_comment": "台北市/大安區+士林區+中正區+大同區/整層住家/公寓",
                "module": "search",
                "action": "rslist",
                "is_new_list": "1",
                "type": "1",
                "searchtype": "1",
                "region": "1",
                "listview": "img",
                "section": "1,2,5,8",
                "kind": "1",
                "rentprice": ",30000",
                "area": "17,",
                "shape": "1",
                "floor": ",3"
            },
            {
                "_comment": "新北市/三重+板橋+永和/整層住家/公寓",
                "module": "search",
                "action": "rslist",
                "is_new_list": "1",
                "type": "1",
                "searchtype": "1",
                "region": "3",
                "listview": "img",
                "section": "26,37,43",
                "kind": "1",
                "rentprice": ",30000",
                "area": "17,",
                "shape": "1",
                "floor": ",3"
            },
            {
                "_comment": "新北市/三重+板橋+永和/整層住家/電梯大樓",
                "module": "search",
                "action": "rslist",
                "is_new_list": "1",
                "type": "1",
                "searchtype": "1",
                "region": "3",
                "listview": "img",
                "section": "26,37,43",
                "kind": "1",
                "rentprice": ",30000",
                "area": "17,",
                "shape": "2",
                "floor": ","
            }
        ]
    },
    "售": {
        "domain": "https://sale.591.com.tw/",
        "uri": "index.php?",
        "params": [
            {
                "_comment": "新北市/三重+板橋+永和/住宅/電梯大樓",
                "module": "search",
                "action": "rslist",
                "is_new_list": "1",
                "type": "2",
                "searchtype": "1",
                "region": "3",
                "listview": "img",
                "section": "26,43,37",
                "kind": "9",
                "saleprice": ",1600",
                "area": "20,",
                "shape": "2",
                "houseage": ",35"
            },
            {
                "_comment": "新北市/三重+板橋+永和/住宅/公寓",
                "module": "search",
                "action": "rslist",
                "is_new_list": "1",
                "type": "2",
                "searchtype": "1",
                "region": "3",
                "listview": "img",
                "section": "26,43,37",
                "kind": "9",
                "saleprice": ",1500",
                "area": "20,",
                "shape": "1",
                "floor": ",3",
                "houseage": ",40"
            },
            {
                "_comment": "台北市/中山區+松山區+內湖區+士林區+南港區/住宅/公寓",
                "module": "search",
                "action": "rslist",
                "is_new_list": "1",
                "type": "2",
                "searchtype": "1",
                "region": "1",
                "listview": "img",
                "section": "3,4,8,10,11",
                "kind": "9",
                "saleprice": ",1500",
                "area": "20,",
                "shape": "1",
                "floor": ",3",
                "houseage": ",40"
            },
            {
                "_comment": "台北市/中山區+松山區+內湖區+士林區+南港區/住宅/電梯大樓",
                "module": "search",
                "action": "rslist",
                "is_new_list": "1",
                "type": "2",
                "searchtype": "1",
                "region": "1",
                "listview": "img",
                "section": "3,4,8,10,11",
                "kind": "9",
                "saleprice": ",1700",
                "area": "20,",
                "shape": "2",
                "houseage": ",35"
            },
            {
                "_comment": "台北市/大安區+信義區+中正區/住宅/公寓",
                "module": "search",
                "action": "rslist",
                "is_new_list": "1",
                "type": "2",
                "searchtype": "1",
                "region": "1",
                "listview": "img",
                "section": "5,7,1",
                "kind": "9",
                "saleprice": ",1500",
                "area": "20,",
                "shape": "1",
                "floor": ",3",
                "houseage": ",45"
            },
            {
                "_comment": "台北市/大安區+信義區+中正區/住宅/電梯大樓",
                "module": "search",
                "action": "rslist",
                "is_new_list": "1",
                "type": "2",
                "searchtype": "1",
                "region": "1",
                "listview": "img",
                "section": "5,7,1",
                "kind": "9",
                "saleprice": ",1700",
                "area": "20,",
                "shape": "2",
                "houseage": ",35"
            }
        ]
    }
}
