{
    "租":{ 
        "domain": "https://rent.591.com.tw/",
        "uri": "index.php?",
        "params": [
            {
                "_comment": "台北市/南港區+中山區+信義區+內湖區+松山區/整層住家/電梯大樓",
                "module": "search",
                "action": "rslist",
                "is_new_list": "1",
                "type": "1",
                "searchtype": "1",
                "region": "1",
                "listview": "img",
                "section": "3,4,7,10,11",
                "kind": "1",
                "rentprice": ",25000",
                "area": "17,",
                "shape": "2"
            }
        ]
    },
    "售": {
        "domain": "https://sale.591.com.tw/",
        "uri": "index.php?",
        "params": [
            {
                "_comment": "新北市/三重+板橋/住宅/電梯大樓",
                "module": "search",
                "action": "rslist",
                "is_new_list": "1",
                "type": "2",
                "searchtype": "1",
                "region": "3",
                "listview": "img",
                "section": "26,43",
                "kind": "9",
                "saleprice": ",1000",
                "area": "20,",
                "shape": "2",
                "houseage": ",35"
            }
        ]
    }
}
